/* Container for the entire documentation */
.es6-container {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
background-color: #0F172A;
}

/* Title styling */
.title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2em;
}

/* Section for each method */
.method-section {
    margin-bottom: 30px;
}

/* Heading styling */
h3 {
    font-size: 20px;
    color: rgb(237, 215, 186);
    padding: 10px 0;
}

/* Method title styling */
.method-title {
    font-size: 1.5em;
    margin-bottom: 10px;
}

/* Code block styling */
.code-block {
    background-color: #f8f8f8;
    padding: 10px;
    border-radius: 5px;
    overflow: auto;
}

/* Table styling */
.table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

.table th {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
}

.table td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
    color: #ddd;
}

/* Header styling */
.table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

/* Responsive styling for smaller screens */
@media (max-width: 600px) {
    .table {
        display: block;
        overflow-x: auto;
    }
}