.template-literal-container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
  background-color: #0f172a;
    color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-family: Arial, sans-serif;
  }
  
  .template-literal-container h1, 
  .template-literal-container h2 {
    color: #ffcc00;
  }
  
  .template-literal-container code{
    background-color: #333 !important;
  }


  .template-literal-container p {
    margin: 10px 0;
    line-height: 1.6;
  }
