.variables-container {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
background-color: #0F172A;
}

h1 {
    text-align: center;
    color: #333;
}

h2 {
    margin-top: 20px;
    color: #E3E3E3;
}

.code-block {
    background-color: #282c34;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    overflow: auto;
}

pre {
    margin: 0;
}